<?php
/*
 * YtelAPILib
 *
 * This file was automatically generated by APIMATIC v2.0 ( https://apimatic.io ).
 */

namespace YtelAPILib\Controllers;

use YtelAPILib\APIException;
use YtelAPILib\APIHelper;
use YtelAPILib\Configuration;
use YtelAPILib\Models;
use YtelAPILib\Exceptions;
use YtelAPILib\Http\HttpRequest;
use YtelAPILib\Http\HttpResponse;
use YtelAPILib\Http\HttpMethod;
use YtelAPILib\Http\HttpContext;
use Unirest\Request;

/**
 * @todo Add a general description for this controller.
 */
class ConferenceController extends BaseController
{
    /**
     * @var ConferenceController The reference to *Singleton* instance of this class
     */
    private static $instance;

    /**
     * Returns the *Singleton* instance of this class.
     * @return ConferenceController The *Singleton* instance.
     */
    public static function getInstance()
    {
        if (null === static::$instance) {
            static::$instance = new static();
        }
        
        return static::$instance;
    }

    /**
     * Play an audio file during a conference.
     *
     * @param  array  $options    Array with all options for search
     * @param string $options['conferenceSid']  The unique identifier for a conference object.
     * @param string $options['participantSid'] The unique identifier for a participant object.
     * @param string $options['audioUrl']       The URL for the audio file that is to be played during the conference.
     *                                          Multiple audio files can be chained by using a semicolon.
     * @return string response from the API call
     * @throws APIException Thrown if API call fails
     */
    public function createConferencesPlayAudio(
        $options
    ) {

        //the base uri for api requests
        $_queryBuilder = Configuration::$BASEURI;
        
        //prepare query string for API call
        $_queryBuilder = $_queryBuilder.'/conferences/playAudio.json';

        //validate and preprocess url
        $_queryUrl = APIHelper::cleanUrl($_queryBuilder);

        //prepare headers
        $_headers = array (
            'user-agent'    => 'APIMATIC 2.0'
        );

        //prepare parameters
        $_parameters = array (
            'ConferenceSid'  => $this->val($options, 'conferenceSid'),
            'ParticipantSid' => $this->val($options, 'participantSid'),
            'AudioUrl'     => APIHelper::prepareFormFields($this->val($options, 'audioUrl'))
        );

        //set HTTP basic auth parameters
        Request::auth(Configuration::$basicAuthUserName, Configuration::$basicAuthPassword);

        //call on-before Http callback
        $_httpRequest = new HttpRequest(HttpMethod::POST, $_headers, $_queryUrl, $_parameters);
        if ($this->getHttpCallBack() != null) {
            $this->getHttpCallBack()->callOnBeforeRequest($_httpRequest);
        }

        //and invoke the API call request to fetch the response
        $response = Request::post($_queryUrl, $_headers, Request\Body::Form($_parameters));

        $_httpResponse = new HttpResponse($response->code, $response->headers, $response->raw_body);
        $_httpContext = new HttpContext($_httpRequest, $_httpResponse);

        //call on-after Http callback
        if ($this->getHttpCallBack() != null) {
            $this->getHttpCallBack()->callOnAfterRequest($_httpContext);
        }

        //handle errors defined at the API level
        $this->validateResponse($_httpResponse, $_httpContext);

        return $response->body;
    }

    /**
     * Remove a participant from a conference.
     *
     * @param  array  $options    Array with all options for search
     * @param string $options['conferenceSid']  The unique identifier for a conference object.
     * @param string $options['participantSid'] The unique identifier for a participant object.
     * @return string response from the API call
     * @throws APIException Thrown if API call fails
     */
    public function createConferencesHangupParticipant(
        $options
    ) {

        //the base uri for api requests
        $_queryBuilder = Configuration::$BASEURI;
        
        //prepare query string for API call
        $_queryBuilder = $_queryBuilder.'/conferences/hangupParticipant.json';

        //process optional query parameters
        APIHelper::appendUrlWithQueryParameters($_queryBuilder, array (
            'ParticipantSid' => $this->val($options, 'participantSid'),
        ));

        //validate and preprocess url
        $_queryUrl = APIHelper::cleanUrl($_queryBuilder);

        //prepare headers
        $_headers = array (
            'user-agent'    => 'APIMATIC 2.0'
        );

        //prepare parameters
        $_parameters = array (
            'ConferenceSid'  => $this->val($options, 'conferenceSid')
        );

        //set HTTP basic auth parameters
        Request::auth(Configuration::$basicAuthUserName, Configuration::$basicAuthPassword);

        //call on-before Http callback
        $_httpRequest = new HttpRequest(HttpMethod::POST, $_headers, $_queryUrl, $_parameters);
        if ($this->getHttpCallBack() != null) {
            $this->getHttpCallBack()->callOnBeforeRequest($_httpRequest);
        }

        //and invoke the API call request to fetch the response
        $response = Request::post($_queryUrl, $_headers, Request\Body::Form($_parameters));

        $_httpResponse = new HttpResponse($response->code, $response->headers, $response->raw_body);
        $_httpContext = new HttpContext($_httpRequest, $_httpResponse);

        //call on-after Http callback
        if ($this->getHttpCallBack() != null) {
            $this->getHttpCallBack()->callOnAfterRequest($_httpContext);
        }

        //handle errors defined at the API level
        $this->validateResponse($_httpResponse, $_httpContext);

        return $response->body;
    }

    /**
     * Retrieve information about a conference by its ConferenceSid.
     *
     * @param string $conferenceSid The unique identifier of each conference resource
     * @return string response from the API call
     * @throws APIException Thrown if API call fails
     */
    public function createConferencesViewconference(
        $conferenceSid
    ) {

        //the base uri for api requests
        $_queryBuilder = Configuration::$BASEURI;
        
        //prepare query string for API call
        $_queryBuilder = $_queryBuilder.'/conferences/viewconference.json';

        //validate and preprocess url
        $_queryUrl = APIHelper::cleanUrl($_queryBuilder);

        //prepare headers
        $_headers = array (
            'user-agent'    => 'APIMATIC 2.0'
        );

        //prepare parameters
        $_parameters = array (
            'ConferenceSid' => $conferenceSid
        );

        //set HTTP basic auth parameters
        Request::auth(Configuration::$basicAuthUserName, Configuration::$basicAuthPassword);

        //call on-before Http callback
        $_httpRequest = new HttpRequest(HttpMethod::POST, $_headers, $_queryUrl, $_parameters);
        if ($this->getHttpCallBack() != null) {
            $this->getHttpCallBack()->callOnBeforeRequest($_httpRequest);
        }

        //and invoke the API call request to fetch the response
        $response = Request::post($_queryUrl, $_headers, Request\Body::Form($_parameters));

        $_httpResponse = new HttpResponse($response->code, $response->headers, $response->raw_body);
        $_httpContext = new HttpContext($_httpRequest, $_httpResponse);

        //call on-after Http callback
        if ($this->getHttpCallBack() != null) {
            $this->getHttpCallBack()->callOnAfterRequest($_httpContext);
        }

        //handle errors defined at the API level
        $this->validateResponse($_httpResponse, $_httpContext);

        return $response->body;
    }

    /**
     * Retrieve a list of conference objects.
     *
     * @param  array  $options    Array with all options for search
     * @param integer $options['page']         (optional) The page count to retrieve from the total results in the
     *                                         collection. Page indexing starts at 1.
     * @param integer $options['pagesize']     (optional) Number of individual resources listed in the response per
     *                                         page
     * @param string  $options['friendlyName'] (optional) Only return conferences with the specified FriendlyName
     * @param string  $options['dateCreated']  (optional) Conference created date
     * @return string response from the API call
     * @throws APIException Thrown if API call fails
     */
    public function createConferencesListconference(
        $options
    ) {

        //the base uri for api requests
        $_queryBuilder = Configuration::$BASEURI;
        
        //prepare query string for API call
        $_queryBuilder = $_queryBuilder.'/conferences/listconference.json';

        //validate and preprocess url
        $_queryUrl = APIHelper::cleanUrl($_queryBuilder);

        //prepare headers
        $_headers = array (
            'user-agent'    => 'APIMATIC 2.0'
        );

        //prepare parameters
        $_parameters = array (
            'page'         => $this->val($options, 'page', 1),
            'pagesize'     => $this->val($options, 'pagesize', 10),
            'FriendlyName' => $this->val($options, 'friendlyName'),
            'DateCreated'  => $this->val($options, 'dateCreated')
        );

        //set HTTP basic auth parameters
        Request::auth(Configuration::$basicAuthUserName, Configuration::$basicAuthPassword);

        //call on-before Http callback
        $_httpRequest = new HttpRequest(HttpMethod::POST, $_headers, $_queryUrl, $_parameters);
        if ($this->getHttpCallBack() != null) {
            $this->getHttpCallBack()->callOnBeforeRequest($_httpRequest);
        }

        //and invoke the API call request to fetch the response
        $response = Request::post($_queryUrl, $_headers, Request\Body::Form($_parameters));

        $_httpResponse = new HttpResponse($response->code, $response->headers, $response->raw_body);
        $_httpContext = new HttpContext($_httpRequest, $_httpResponse);

        //call on-after Http callback
        if ($this->getHttpCallBack() != null) {
            $this->getHttpCallBack()->callOnAfterRequest($_httpContext);
        }

        //handle errors defined at the API level
        $this->validateResponse($_httpResponse, $_httpContext);

        return $response->body;
    }

    /**
     * Retrieve a list of participants for an in-progress conference.
     *
     * @param  array  $options    Array with all options for search
     * @param string  $options['conferenceSid'] The unique identifier for a conference.
     * @param integer $options['page']          (optional) The page count to retrieve from the total results in the
     *                                          collection. Page indexing starts at 1.
     * @param integer $options['pagesize']      (optional) The count of objects to return per page.
     * @param bool    $options['muted']         (optional) Specifies if participant should be muted.
     * @param bool    $options['deaf']          (optional) Specifies if the participant should hear audio in the
     *                                          conference.
     * @return string response from the API call
     * @throws APIException Thrown if API call fails
     */
    public function createConferencesListParticipant(
        $options
    ) {

        //the base uri for api requests
        $_queryBuilder = Configuration::$BASEURI;
        
        //prepare query string for API call
        $_queryBuilder = $_queryBuilder.'/conferences/listParticipant.json';

        //validate and preprocess url
        $_queryUrl = APIHelper::cleanUrl($_queryBuilder);

        //prepare headers
        $_headers = array (
            'user-agent'    => 'APIMATIC 2.0'
        );

        //prepare parameters
        $_parameters = array (
            'ConferenceSid' => $this->val($options, 'conferenceSid'),
            'Page'          => $this->val($options, 'page', 1),
            'Pagesize'      => $this->val($options, 'pagesize', 10),
            'Muted'         => $this->val($options, 'muted'),
            'Deaf'          => $this->val($options, 'deaf')
        );

        //set HTTP basic auth parameters
        Request::auth(Configuration::$basicAuthUserName, Configuration::$basicAuthPassword);

        //call on-before Http callback
        $_httpRequest = new HttpRequest(HttpMethod::POST, $_headers, $_queryUrl, $_parameters);
        if ($this->getHttpCallBack() != null) {
            $this->getHttpCallBack()->callOnBeforeRequest($_httpRequest);
        }

        //and invoke the API call request to fetch the response
        $response = Request::post($_queryUrl, $_headers, Request\Body::Form($_parameters));

        $_httpResponse = new HttpResponse($response->code, $response->headers, $response->raw_body);
        $_httpContext = new HttpContext($_httpRequest, $_httpResponse);

        //call on-after Http callback
        if ($this->getHttpCallBack() != null) {
            $this->getHttpCallBack()->callOnAfterRequest($_httpContext);
        }

        //handle errors defined at the API level
        $this->validateResponse($_httpResponse, $_httpContext);

        return $response->body;
    }

    /**
     * Retrieve information about a participant by its ParticipantSid.
     *
     * @param  array  $options    Array with all options for search
     * @param string $options['conferenceSid']  The unique identifier for a conference object.
     * @param string $options['participantSid'] The unique identifier for a participant object.
     * @return string response from the API call
     * @throws APIException Thrown if API call fails
     */
    public function createConferencesViewParticipant(
        $options
    ) {

        //the base uri for api requests
        $_queryBuilder = Configuration::$BASEURI;
        
        //prepare query string for API call
        $_queryBuilder = $_queryBuilder.'/conferences/viewParticipant.json';

        //validate and preprocess url
        $_queryUrl = APIHelper::cleanUrl($_queryBuilder);

        //prepare headers
        $_headers = array (
            'user-agent'    => 'APIMATIC 2.0'
        );

        //prepare parameters
        $_parameters = array (
            'ConferenceSid'  => $this->val($options, 'conferenceSid'),
            'ParticipantSid' => $this->val($options, 'participantSid')
        );

        //set HTTP basic auth parameters
        Request::auth(Configuration::$basicAuthUserName, Configuration::$basicAuthPassword);

        //call on-before Http callback
        $_httpRequest = new HttpRequest(HttpMethod::POST, $_headers, $_queryUrl, $_parameters);
        if ($this->getHttpCallBack() != null) {
            $this->getHttpCallBack()->callOnBeforeRequest($_httpRequest);
        }

        //and invoke the API call request to fetch the response
        $response = Request::post($_queryUrl, $_headers, Request\Body::Form($_parameters));

        $_httpResponse = new HttpResponse($response->code, $response->headers, $response->raw_body);
        $_httpContext = new HttpContext($_httpRequest, $_httpResponse);

        //call on-after Http callback
        if ($this->getHttpCallBack() != null) {
            $this->getHttpCallBack()->callOnAfterRequest($_httpContext);
        }

        //handle errors defined at the API level
        $this->validateResponse($_httpResponse, $_httpContext);

        return $response->body;
    }

    /**
     * Add Participant in conference
     *
     * @param  array  $options    Array with all options for search
     * @param string $options['conferenceSid']     The unique identifier for a conference object.
     * @param string $options['participantNumber'] The phone number of the participant to be added.
     * @param bool   $options['muted']             (optional) Specifies if participant should be muted.
     * @param bool   $options['deaf']              (optional) Specifies if the participant should hear audio in the
     *                                             conference.
     * @return string response from the API call
     * @throws APIException Thrown if API call fails
     */
    public function createConferencesAddParticipant(
        $options
    ) {

        //the base uri for api requests
        $_queryBuilder = Configuration::$BASEURI;
        
        //prepare query string for API call
        $_queryBuilder = $_queryBuilder.'/conferences/addParticipant.json';

        //validate and preprocess url
        $_queryUrl = APIHelper::cleanUrl($_queryBuilder);

        //prepare headers
        $_headers = array (
            'user-agent'      => 'APIMATIC 2.0'
        );

        //prepare parameters
        $_parameters = array (
            'ConferenceSid'     => $this->val($options, 'conferenceSid'),
            'ParticipantNumber' => $this->val($options, 'participantNumber'),
            'Muted'             => $this->val($options, 'muted'),
            'Deaf'              => $this->val($options, 'deaf')
        );

        //set HTTP basic auth parameters
        Request::auth(Configuration::$basicAuthUserName, Configuration::$basicAuthPassword);

        //call on-before Http callback
        $_httpRequest = new HttpRequest(HttpMethod::POST, $_headers, $_queryUrl, $_parameters);
        if ($this->getHttpCallBack() != null) {
            $this->getHttpCallBack()->callOnBeforeRequest($_httpRequest);
        }

        //and invoke the API call request to fetch the response
        $response = Request::post($_queryUrl, $_headers, Request\Body::Form($_parameters));

        $_httpResponse = new HttpResponse($response->code, $response->headers, $response->raw_body);
        $_httpContext = new HttpContext($_httpRequest, $_httpResponse);

        //call on-after Http callback
        if ($this->getHttpCallBack() != null) {
            $this->getHttpCallBack()->callOnAfterRequest($_httpContext);
        }

        //handle errors defined at the API level
        $this->validateResponse($_httpResponse, $_httpContext);

        return $response->body;
    }

    /**
     * Here you can experiment with initiating a conference call through Ytel and view the request response
     * generated when doing so.
     *
     * @param  array  $options    Array with all options for search
     * @param string  $options['from']                 A valid 10-digit number (E.164 format) that will be initiating
     *                                                 the conference call.
     * @param string  $options['to']                   A valid 10-digit number (E.164 format) that is to receive the
     *                                                 conference call.
     * @param string  $options['url']                  URL requested once the conference connects
     * @param string  $options['method']               (optional) Specifies the HTTP method used to request the
     *                                                 required URL once call connects.
     * @param string  $options['statusCallBackUrl']    (optional) URL that can be requested to receive notification
     *                                                 when call has ended. A set of default parameters will be sent
     *                                                 here once the conference is finished.
     * @param string  $options['statusCallBackMethod'] (optional) Specifies the HTTP methodlinkclass used to request
     *                                                 StatusCallbackUrl.
     * @param string  $options['fallbackUrl']          (optional) URL requested if the initial Url parameter fails or
     *                                                 encounters an error
     * @param string  $options['fallbackMethod']       (optional) Specifies the HTTP method used to request the
     *                                                 required FallbackUrl once call connects.
     * @param bool    $options['record']               (optional) Specifies if the conference should be recorded.
     * @param string  $options['recordCallBackUrl']    (optional) Recording parameters will be sent here upon
     *                                                 completion.
     * @param string  $options['recordCallBackMethod'] (optional) Specifies the HTTP method used to request the
     *                                                 required URL once conference connects.
     * @param string  $options['scheduleTime']         (optional) Schedule conference in future. Schedule time must be
     *                                                 greater than current time
     * @param integer $options['timeout']              (optional) The number of seconds the call stays on the line
     *                                                 while waiting for an answer. The max time limit is 999 and the
     *                                                 default limit is 60 seconds but lower times can be set.
     * @return string response from the API call
     * @throws APIException Thrown if API call fails
     */
    public function createConferencesCreateConference(
        $options
    ) {

        //the base uri for api requests
        $_queryBuilder = Configuration::$BASEURI;
        
        //prepare query string for API call
        $_queryBuilder = $_queryBuilder.'/conferences/createConference.json';

        //process optional query parameters
        APIHelper::appendUrlWithQueryParameters($_queryBuilder, array (
            'Url'                  => $this->val($options, 'url'),
        ));

        //validate and preprocess url
        $_queryUrl = APIHelper::cleanUrl($_queryBuilder);

        //prepare headers
        $_headers = array (
            'user-agent'         => 'APIMATIC 2.0'
        );

        //prepare parameters
        $_parameters = array (
            'From'                 => $this->val($options, 'from'),
            'To'                   => $this->val($options, 'to'),
            'Method'               => $this->val($options, 'method', 'POST'),
            'StatusCallBackUrl'    => $this->val($options, 'statusCallBackUrl'),
            'StatusCallBackMethod' => $this->val($options, 'statusCallBackMethod'),
            'FallbackUrl'          => $this->val($options, 'fallbackUrl'),
            'FallbackMethod'       => $this->val($options, 'fallbackMethod'),
            'Record'               => $this->val($options, 'record'),
            'RecordCallBackUrl'    => $this->val($options, 'recordCallBackUrl'),
            'RecordCallBackMethod' => $this->val($options, 'recordCallBackMethod'),
            'ScheduleTime'         => $this->val($options, 'scheduleTime'),
            'Timeout'              => $this->val($options, 'timeout')
        );

        //set HTTP basic auth parameters
        Request::auth(Configuration::$basicAuthUserName, Configuration::$basicAuthPassword);

        //call on-before Http callback
        $_httpRequest = new HttpRequest(HttpMethod::POST, $_headers, $_queryUrl, $_parameters);
        if ($this->getHttpCallBack() != null) {
            $this->getHttpCallBack()->callOnBeforeRequest($_httpRequest);
        }

        //and invoke the API call request to fetch the response
        $response = Request::post($_queryUrl, $_headers, Request\Body::Form($_parameters));

        $_httpResponse = new HttpResponse($response->code, $response->headers, $response->raw_body);
        $_httpContext = new HttpContext($_httpRequest, $_httpResponse);

        //call on-after Http callback
        if ($this->getHttpCallBack() != null) {
            $this->getHttpCallBack()->callOnAfterRequest($_httpContext);
        }

        //handle errors defined at the API level
        $this->validateResponse($_httpResponse, $_httpContext);

        return $response->body;
    }

    /**
     * Deaf Mute Participant
     *
     * @param  array  $options    Array with all options for search
     * @param string $options['conferenceSid']  ID of the active conference
     * @param string $options['participantSid'] ID of an active participant
     * @param bool   $options['muted']          (optional) Mute a participant
     * @param bool   $options['deaf']           (optional) Make it so a participant cant hear
     * @return string response from the API call
     * @throws APIException Thrown if API call fails
     */
    public function createConferencesDeafMuteParticipant(
        $options
    ) {

        //the base uri for api requests
        $_queryBuilder = Configuration::$BASEURI;
        
        //prepare query string for API call
        $_queryBuilder = $_queryBuilder.'/conferences/deafMuteParticipant.json';

        //validate and preprocess url
        $_queryUrl = APIHelper::cleanUrl($_queryBuilder);

        //prepare headers
        $_headers = array (
            'user-agent'    => 'APIMATIC 2.0'
        );

        //prepare parameters
        $_parameters = array (
            'conferenceSid'  => $this->val($options, 'conferenceSid'),
            'ParticipantSid' => $this->val($options, 'participantSid'),
            'Muted'          => $this->val($options, 'muted'),
            'Deaf'           => $this->val($options, 'deaf')
        );

        //set HTTP basic auth parameters
        Request::auth(Configuration::$basicAuthUserName, Configuration::$basicAuthPassword);

        //call on-before Http callback
        $_httpRequest = new HttpRequest(HttpMethod::POST, $_headers, $_queryUrl, $_parameters);
        if ($this->getHttpCallBack() != null) {
            $this->getHttpCallBack()->callOnBeforeRequest($_httpRequest);
        }

        //and invoke the API call request to fetch the response
        $response = Request::post($_queryUrl, $_headers, Request\Body::Form($_parameters));

        $_httpResponse = new HttpResponse($response->code, $response->headers, $response->raw_body);
        $_httpContext = new HttpContext($_httpRequest, $_httpResponse);

        //call on-after Http callback
        if ($this->getHttpCallBack() != null) {
            $this->getHttpCallBack()->callOnAfterRequest($_httpContext);
        }

        //handle errors defined at the API level
        $this->validateResponse($_httpResponse, $_httpContext);

        return $response->body;
    }


    /**
    * Array access utility method
     * @param  array          $arr         Array of values to read from
     * @param  string         $key         Key to get the value from the array
     * @param  mixed|null     $default     Default value to use if the key was not found
     * @return mixed
     */
    private function val($arr, $key, $default = null)
    {
        if (isset($arr[$key])) {
            return is_bool($arr[$key]) ? var_export($arr[$key], true) : $arr[$key];
        }
        return $default;
    }
}
