<?php
/*
 * YtelAPILib
 *
 * This file was automatically generated by APIMATIC v2.0 ( https://apimatic.io ).
 */

namespace YtelAPILib\Controllers;

use YtelAPILib\APIException;
use YtelAPILib\APIHelper;
use YtelAPILib\Configuration;
use YtelAPILib\Models;
use YtelAPILib\Exceptions;
use YtelAPILib\Http\HttpRequest;
use YtelAPILib\Http\HttpResponse;
use YtelAPILib\Http\HttpMethod;
use YtelAPILib\Http\HttpContext;
use Unirest\Request;

/**
 * @todo Add a general description for this controller.
 */
class SharedShortCodeController extends BaseController
{
    /**
     * @var SharedShortCodeController The reference to *Singleton* instance of this class
     */
    private static $instance;

    /**
     * Returns the *Singleton* instance of this class.
     * @return SharedShortCodeController The *Singleton* instance.
     */
    public static function getInstance()
    {
        if (null === static::$instance) {
            static::$instance = new static();
        }
        
        return static::$instance;
    }

    /**
     * The response returned here contains all resource properties associated with the given Shortcode.
     *
     * @param string $shortcode List of valid Shortcode to your Ytel account
     * @return string response from the API call
     * @throws APIException Thrown if API call fails
     */
    public function createShortcodeViewshortcode(
        $shortcode
    ) {

        //the base uri for api requests
        $_queryBuilder = Configuration::$BASEURI;
        
        //prepare query string for API call
        $_queryBuilder = $_queryBuilder.'/shortcode/viewshortcode.json';

        //validate and preprocess url
        $_queryUrl = APIHelper::cleanUrl($_queryBuilder);

        //prepare headers
        $_headers = array (
            'user-agent'    => 'APIMATIC 2.0'
        );

        //prepare parameters
        $_parameters = array (
            'Shortcode' => $shortcode
        );

        //set HTTP basic auth parameters
        Request::auth(Configuration::$basicAuthUserName, Configuration::$basicAuthPassword);

        //call on-before Http callback
        $_httpRequest = new HttpRequest(HttpMethod::POST, $_headers, $_queryUrl, $_parameters);
        if ($this->getHttpCallBack() != null) {
            $this->getHttpCallBack()->callOnBeforeRequest($_httpRequest);
        }

        //and invoke the API call request to fetch the response
        $response = Request::post($_queryUrl, $_headers, Request\Body::Form($_parameters));

        $_httpResponse = new HttpResponse($response->code, $response->headers, $response->raw_body);
        $_httpContext = new HttpContext($_httpRequest, $_httpResponse);

        //call on-after Http callback
        if ($this->getHttpCallBack() != null) {
            $this->getHttpCallBack()->callOnAfterRequest($_httpContext);
        }

        //handle errors defined at the API level
        $this->validateResponse($_httpResponse, $_httpContext);

        return $response->body;
    }

    /**
     * View a set of properties for a single keyword.
     *
     * @param string $keywordid The unique identifier of each keyword
     * @return string response from the API call
     * @throws APIException Thrown if API call fails
     */
    public function createKeywordView(
        $keywordid
    ) {

        //the base uri for api requests
        $_queryBuilder = Configuration::$BASEURI;
        
        //prepare query string for API call
        $_queryBuilder = $_queryBuilder.'/keyword/view.json';

        //validate and preprocess url
        $_queryUrl = APIHelper::cleanUrl($_queryBuilder);

        //prepare headers
        $_headers = array (
            'user-agent'    => 'APIMATIC 2.0'
        );

        //prepare parameters
        $_parameters = array (
            'Keywordid' => $keywordid
        );

        //set HTTP basic auth parameters
        Request::auth(Configuration::$basicAuthUserName, Configuration::$basicAuthPassword);

        //call on-before Http callback
        $_httpRequest = new HttpRequest(HttpMethod::POST, $_headers, $_queryUrl, $_parameters);
        if ($this->getHttpCallBack() != null) {
            $this->getHttpCallBack()->callOnBeforeRequest($_httpRequest);
        }

        //and invoke the API call request to fetch the response
        $response = Request::post($_queryUrl, $_headers, Request\Body::Form($_parameters));

        $_httpResponse = new HttpResponse($response->code, $response->headers, $response->raw_body);
        $_httpContext = new HttpContext($_httpRequest, $_httpResponse);

        //call on-after Http callback
        if ($this->getHttpCallBack() != null) {
            $this->getHttpCallBack()->callOnAfterRequest($_httpContext);
        }

        //handle errors defined at the API level
        $this->validateResponse($_httpResponse, $_httpContext);

        return $response->body;
    }

    /**
     * Update Assignment
     *
     * @param  array  $options    Array with all options for search
     * @param string $options['shortcode']         List of valid shortcode to your Ytel account
     * @param string $options['friendlyName']      (optional) User generated name of the shortcode
     * @param string $options['callbackUrl']       (optional) URL that can be requested to receive notification when
     *                                             call has ended. A set of default parameters will be sent here once
     *                                             the call is finished.
     * @param string $options['callbackMethod']    (optional) Specifies the HTTP method used to request the required
     *                                             StatusCallBackUrl once call connects.
     * @param string $options['fallbackUrl']       (optional) URL used if any errors occur during execution of
     *                                             InboundXML or at initial request of the required Url provided with
     *                                             the POST.
     * @param string $options['fallbackUrlMethod'] (optional) Specifies the HTTP method used to request the required
     *                                             FallbackUrl once call connects.
     * @return string response from the API call
     * @throws APIException Thrown if API call fails
     */
    public function createShortcodeUpdateshortcode(
        $options
    ) {

        //the base uri for api requests
        $_queryBuilder = Configuration::$BASEURI;
        
        //prepare query string for API call
        $_queryBuilder = $_queryBuilder.'/shortcode/updateshortcode.json';

        //validate and preprocess url
        $_queryUrl = APIHelper::cleanUrl($_queryBuilder);

        //prepare headers
        $_headers = array (
            'user-agent'      => 'APIMATIC 2.0'
        );

        //prepare parameters
        $_parameters = array (
            'Shortcode'         => $this->val($options, 'shortcode'),
            'FriendlyName'      => $this->val($options, 'friendlyName'),
            'CallbackUrl'       => $this->val($options, 'callbackUrl'),
            'CallbackMethod'    => $this->val($options, 'callbackMethod'),
            'FallbackUrl'       => $this->val($options, 'fallbackUrl'),
            'FallbackUrlMethod' => $this->val($options, 'fallbackUrlMethod')
        );

        //set HTTP basic auth parameters
        Request::auth(Configuration::$basicAuthUserName, Configuration::$basicAuthPassword);

        //call on-before Http callback
        $_httpRequest = new HttpRequest(HttpMethod::POST, $_headers, $_queryUrl, $_parameters);
        if ($this->getHttpCallBack() != null) {
            $this->getHttpCallBack()->callOnBeforeRequest($_httpRequest);
        }

        //and invoke the API call request to fetch the response
        $response = Request::post($_queryUrl, $_headers, Request\Body::Form($_parameters));

        $_httpResponse = new HttpResponse($response->code, $response->headers, $response->raw_body);
        $_httpContext = new HttpContext($_httpRequest, $_httpResponse);

        //call on-after Http callback
        if ($this->getHttpCallBack() != null) {
            $this->getHttpCallBack()->callOnAfterRequest($_httpContext);
        }

        //handle errors defined at the API level
        $this->validateResponse($_httpResponse, $_httpContext);

        return $response->body;
    }

    /**
     * View a Shared ShortCode Template
     *
     * @param string $templateId The unique identifier for a template object
     * @return string response from the API call
     * @throws APIException Thrown if API call fails
     */
    public function createTemplateView(
        $templateId
    ) {

        //the base uri for api requests
        $_queryBuilder = Configuration::$BASEURI;
        
        //prepare query string for API call
        $_queryBuilder = $_queryBuilder.'/template/view.json';

        //validate and preprocess url
        $_queryUrl = APIHelper::cleanUrl($_queryBuilder);

        //prepare headers
        $_headers = array (
            'user-agent'    => 'APIMATIC 2.0'
        );

        //prepare parameters
        $_parameters = array (
            'TemplateId' => $templateId
        );

        //set HTTP basic auth parameters
        Request::auth(Configuration::$basicAuthUserName, Configuration::$basicAuthPassword);

        //call on-before Http callback
        $_httpRequest = new HttpRequest(HttpMethod::POST, $_headers, $_queryUrl, $_parameters);
        if ($this->getHttpCallBack() != null) {
            $this->getHttpCallBack()->callOnBeforeRequest($_httpRequest);
        }

        //and invoke the API call request to fetch the response
        $response = Request::post($_queryUrl, $_headers, Request\Body::Form($_parameters));

        $_httpResponse = new HttpResponse($response->code, $response->headers, $response->raw_body);
        $_httpContext = new HttpContext($_httpRequest, $_httpResponse);

        //call on-after Http callback
        if ($this->getHttpCallBack() != null) {
            $this->getHttpCallBack()->callOnAfterRequest($_httpContext);
        }

        //handle errors defined at the API level
        $this->validateResponse($_httpResponse, $_httpContext);

        return $response->body;
    }

    /**
     * Retrieve a list of shortcode assignment associated with your Ytel account.
     *
     * @param  array  $options    Array with all options for search
     * @param integer $options['page']      (optional) The page count to retrieve from the total results in the
     *                                      collection. Page indexing starts at 1.
     * @param integer $options['pagesize']  (optional) Number of individual resources listed in the response per page
     * @param string  $options['shortcode'] (optional) Only list keywords of shortcode
     * @return string response from the API call
     * @throws APIException Thrown if API call fails
     */
    public function createShortcodeListshortcode(
        $options
    ) {

        //the base uri for api requests
        $_queryBuilder = Configuration::$BASEURI;
        
        //prepare query string for API call
        $_queryBuilder = $_queryBuilder.'/shortcode/listshortcode.json';

        //process optional query parameters
        APIHelper::appendUrlWithQueryParameters($_queryBuilder, array (
            'Shortcode' => $this->val($options, 'shortcode'),
        ));

        //validate and preprocess url
        $_queryUrl = APIHelper::cleanUrl($_queryBuilder);

        //prepare headers
        $_headers = array (
            'user-agent'    => 'APIMATIC 2.0'
        );

        //prepare parameters
        $_parameters = array (
            'page'      => $this->val($options, 'page', 1),
            'pagesize'  => $this->val($options, 'pagesize', 10)
        );

        //set HTTP basic auth parameters
        Request::auth(Configuration::$basicAuthUserName, Configuration::$basicAuthPassword);

        //call on-before Http callback
        $_httpRequest = new HttpRequest(HttpMethod::POST, $_headers, $_queryUrl, $_parameters);
        if ($this->getHttpCallBack() != null) {
            $this->getHttpCallBack()->callOnBeforeRequest($_httpRequest);
        }

        //and invoke the API call request to fetch the response
        $response = Request::post($_queryUrl, $_headers, Request\Body::Form($_parameters));

        $_httpResponse = new HttpResponse($response->code, $response->headers, $response->raw_body);
        $_httpContext = new HttpContext($_httpRequest, $_httpResponse);

        //call on-after Http callback
        if ($this->getHttpCallBack() != null) {
            $this->getHttpCallBack()->callOnAfterRequest($_httpContext);
        }

        //handle errors defined at the API level
        $this->validateResponse($_httpResponse, $_httpContext);

        return $response->body;
    }

    /**
     * Retrieve a list of keywords associated with your Ytel account.
     *
     * @param  array  $options    Array with all options for search
     * @param integer $options['page']      (optional) The page count to retrieve from the total results in the
     *                                      collection. Page indexing starts at 1.
     * @param integer $options['pagesize']  (optional) Number of individual resources listed in the response per page
     * @param string  $options['keyword']   (optional) Only list keywords of keyword
     * @param integer $options['shortcode'] (optional) Only list keywords of shortcode
     * @return string response from the API call
     * @throws APIException Thrown if API call fails
     */
    public function createKeywordLists(
        $options
    ) {

        //the base uri for api requests
        $_queryBuilder = Configuration::$BASEURI;
        
        //prepare query string for API call
        $_queryBuilder = $_queryBuilder.'/keyword/lists.json';

        //validate and preprocess url
        $_queryUrl = APIHelper::cleanUrl($_queryBuilder);

        //prepare headers
        $_headers = array (
            'user-agent'    => 'APIMATIC 2.0'
        );

        //prepare parameters
        $_parameters = array (
            'page'      => $this->val($options, 'page', 1),
            'pagesize'  => $this->val($options, 'pagesize', 10),
            'Keyword'   => $this->val($options, 'keyword'),
            'Shortcode' => $this->val($options, 'shortcode')
        );

        //set HTTP basic auth parameters
        Request::auth(Configuration::$basicAuthUserName, Configuration::$basicAuthPassword);

        //call on-before Http callback
        $_httpRequest = new HttpRequest(HttpMethod::POST, $_headers, $_queryUrl, $_parameters);
        if ($this->getHttpCallBack() != null) {
            $this->getHttpCallBack()->callOnBeforeRequest($_httpRequest);
        }

        //and invoke the API call request to fetch the response
        $response = Request::post($_queryUrl, $_headers, Request\Body::Form($_parameters));

        $_httpResponse = new HttpResponse($response->code, $response->headers, $response->raw_body);
        $_httpContext = new HttpContext($_httpRequest, $_httpResponse);

        //call on-after Http callback
        if ($this->getHttpCallBack() != null) {
            $this->getHttpCallBack()->callOnAfterRequest($_httpContext);
        }

        //handle errors defined at the API level
        $this->validateResponse($_httpResponse, $_httpContext);

        return $response->body;
    }

    /**
     * List Shortcode Templates by Type
     *
     * @param  array  $options    Array with all options for search
     * @param string  $options['type']      (optional) The type (category) of template Valid values: marketing,
     *                                      authorization
     * @param integer $options['page']      (optional) The page count to retrieve from the total results in the
     *                                      collection. Page indexing starts at 1.
     * @param integer $options['pagesize']  (optional) The count of objects to return per page.
     * @param string  $options['shortcode'] (optional) Only list templates of type
     * @return string response from the API call
     * @throws APIException Thrown if API call fails
     */
    public function createTemplateLists(
        $options
    ) {

        //the base uri for api requests
        $_queryBuilder = Configuration::$BASEURI;
        
        //prepare query string for API call
        $_queryBuilder = $_queryBuilder.'/template/lists.json';

        //validate and preprocess url
        $_queryUrl = APIHelper::cleanUrl($_queryBuilder);

        //prepare headers
        $_headers = array (
            'user-agent'    => 'APIMATIC 2.0'
        );

        //prepare parameters
        $_parameters = array (
            'type'      => $this->val($options, 'type', 'authorization'),
            'page'      => $this->val($options, 'page', 1),
            'pagesize'  => $this->val($options, 'pagesize', 10),
            'Shortcode' => $this->val($options, 'shortcode')
        );

        //set HTTP basic auth parameters
        Request::auth(Configuration::$basicAuthUserName, Configuration::$basicAuthPassword);

        //call on-before Http callback
        $_httpRequest = new HttpRequest(HttpMethod::POST, $_headers, $_queryUrl, $_parameters);
        if ($this->getHttpCallBack() != null) {
            $this->getHttpCallBack()->callOnBeforeRequest($_httpRequest);
        }

        //and invoke the API call request to fetch the response
        $response = Request::post($_queryUrl, $_headers, Request\Body::Form($_parameters));

        $_httpResponse = new HttpResponse($response->code, $response->headers, $response->raw_body);
        $_httpContext = new HttpContext($_httpRequest, $_httpResponse);

        //call on-after Http callback
        if ($this->getHttpCallBack() != null) {
            $this->getHttpCallBack()->callOnAfterRequest($_httpContext);
        }

        //handle errors defined at the API level
        $this->validateResponse($_httpResponse, $_httpContext);

        return $response->body;
    }

    /**
     * Send an SMS from a Ytel ShortCode
     *
     * @param  array  $options    Array with all options for search
     * @param string $options['shortcode']             The Short Code number that is the sender of this message
     * @param string $options['to']                    A valid 10-digit number that should receive the message
     * @param string $options['templateid']            The unique identifier for the template used for the message
     * @param string $options['data']                  format of your data, example: {companyname}:test,{otpcode}:1234
     * @param string $options['method']                (optional) Specifies the HTTP method used to request the
     *                                                 required URL once the Short Code message is sent.
     * @param string $options['messageStatusCallback'] (optional) URL that can be requested to receive notification
     *                                                 when Short Code message was sent.
     * @return string response from the API call
     * @throws APIException Thrown if API call fails
     */
    public function createShortcodeSendsms(
        $options
    ) {

        //the base uri for api requests
        $_queryBuilder = Configuration::$BASEURI;
        
        //prepare query string for API call
        $_queryBuilder = $_queryBuilder.'/shortcode/sendsms.json';

        //validate and preprocess url
        $_queryUrl = APIHelper::cleanUrl($_queryBuilder);

        //prepare headers
        $_headers = array (
            'user-agent'          => 'APIMATIC 2.0'
        );

        //prepare parameters
        $_parameters = array (
            'shortcode'             => $this->val($options, 'shortcode'),
            'to'                    => $this->val($options, 'to'),
            'templateid'            => $this->val($options, 'templateid'),
            'data'                  => $this->val($options, 'data'),
            'Method'                => $this->val($options, 'method', 'GET'),
            'MessageStatusCallback' => $this->val($options, 'messageStatusCallback')
        );

        //set HTTP basic auth parameters
        Request::auth(Configuration::$basicAuthUserName, Configuration::$basicAuthPassword);

        //call on-before Http callback
        $_httpRequest = new HttpRequest(HttpMethod::POST, $_headers, $_queryUrl, $_parameters);
        if ($this->getHttpCallBack() != null) {
            $this->getHttpCallBack()->callOnBeforeRequest($_httpRequest);
        }

        //and invoke the API call request to fetch the response
        $response = Request::post($_queryUrl, $_headers, Request\Body::Form($_parameters));

        $_httpResponse = new HttpResponse($response->code, $response->headers, $response->raw_body);
        $_httpContext = new HttpContext($_httpRequest, $_httpResponse);

        //call on-after Http callback
        if ($this->getHttpCallBack() != null) {
            $this->getHttpCallBack()->callOnAfterRequest($_httpContext);
        }

        //handle errors defined at the API level
        $this->validateResponse($_httpResponse, $_httpContext);

        return $response->body;
    }

    /**
     * List All Inbound ShortCode
     *
     * @param  array  $options    Array with all options for search
     * @param integer $options['page']        (optional) The page count to retrieve from the total results in the
     *                                        collection. Page indexing starts at 1.
     * @param integer $options['pagesize']    (optional) Number of individual resources listed in the response per
     *                                        page
     * @param string  $options['from']        (optional) From Number to Inbound ShortCode
     * @param string  $options['shortcode']   (optional) Only list messages sent to this Short Code
     * @param string  $options['datecreated'] (optional) Only list messages sent with the specified date
     * @return string response from the API call
     * @throws APIException Thrown if API call fails
     */
    public function createShortcodeGetinboundsms(
        $options
    ) {

        //the base uri for api requests
        $_queryBuilder = Configuration::$BASEURI;
        
        //prepare query string for API call
        $_queryBuilder = $_queryBuilder.'/shortcode/getinboundsms.json';

        //process optional query parameters
        APIHelper::appendUrlWithQueryParameters($_queryBuilder, array (
            'Datecreated' => $this->val($options, 'datecreated'),
        ));

        //validate and preprocess url
        $_queryUrl = APIHelper::cleanUrl($_queryBuilder);

        //prepare headers
        $_headers = array (
            'user-agent'    => 'APIMATIC 2.0'
        );

        //prepare parameters
        $_parameters = array (
            'page'        => $this->val($options, 'page', 1),
            'pagesize'    => $this->val($options, 'pagesize', 10),
            'from'        => $this->val($options, 'from'),
            'Shortcode'   => $this->val($options, 'shortcode')
        );

        //set HTTP basic auth parameters
        Request::auth(Configuration::$basicAuthUserName, Configuration::$basicAuthPassword);

        //call on-before Http callback
        $_httpRequest = new HttpRequest(HttpMethod::POST, $_headers, $_queryUrl, $_parameters);
        if ($this->getHttpCallBack() != null) {
            $this->getHttpCallBack()->callOnBeforeRequest($_httpRequest);
        }

        //and invoke the API call request to fetch the response
        $response = Request::post($_queryUrl, $_headers, Request\Body::Form($_parameters));

        $_httpResponse = new HttpResponse($response->code, $response->headers, $response->raw_body);
        $_httpContext = new HttpContext($_httpRequest, $_httpResponse);

        //call on-after Http callback
        if ($this->getHttpCallBack() != null) {
            $this->getHttpCallBack()->callOnAfterRequest($_httpContext);
        }

        //handle errors defined at the API level
        $this->validateResponse($_httpResponse, $_httpContext);

        return $response->body;
    }


    /**
    * Array access utility method
     * @param  array          $arr         Array of values to read from
     * @param  string         $key         Key to get the value from the array
     * @param  mixed|null     $default     Default value to use if the key was not found
     * @return mixed
     */
    private function val($arr, $key, $default = null)
    {
        if (isset($arr[$key])) {
            return is_bool($arr[$key]) ? var_export($arr[$key], true) : $arr[$key];
        }
        return $default;
    }
}
